$middleBlack: #555;
$hoverGrey: #eee;
$youth1: #FDFFD0;
$youth2: #9BC595;
$youth3: #AE4E26;
$youth4: #A2CEB3;
$youth5: #79E8D0;
$middleMargin: 20px;

br {
    margin-bottom: $middleMargin;
}

%baseLine {
    min-height: fit-content;
    display: flex;
    justify-content: center;
    padding: 1px 5px;
    flex-direction: row;
    border-bottom: 1px solid $youth3;
}

%hoverLine {
    cursor: pointer;
    &:hover {
        background-color: $youth5;
    }
}

.removable {
    br {
        margin-bottom: 0;
    }
}

.waitingPane {
    margin: auto;
    display: flex;
    justify-content: center;
}

.playerPane {
    .playerTitle {
        padding: 0 5px;
        color: $youth3;
    }
    .playerContent {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        div {
            width: 50%;
        }
    }
    .controls {
        display: flex;
        justify-content: space-around;
        button {
            margin: 10px 0;
            background-color: $youth2;
            border: 1px solid $youth3;
        }
    }
    .playerAttrs {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        div {
            text-align: center;
            width: calc(100%/6);
        }
        .statsTitle {
            font-size: 0.65rem;
            margin: 0 0 -8px 0;
            color: $youth3;
        }
        .statsContent {
            font-size: 0.8rem; 
            margin: 0; 
        }
    }
    .playerStats {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        div {
            text-align: center;
            width: calc(100%/4);
        }
        .statsTitle {
            font-size: 0.65rem;
            margin: 0 0 -8px 0;
            color: $youth3;
        }
        .statsContent {
            font-size: 0.8rem; 
            margin: 0; 
        }
    }
    hr {
        margin: 0;
        height: 1px;
        background-color: $youth3;
        background-image: none;
    }
}

.gameLine {
    @extend %baseLine;
    @extend %hoverLine;
    background-color: $youth1;
}

.titleLine {
    @extend %baseLine;
    justify-content: start;
    padding-left: 0;
    color: $youth3;
}

.rankSpan {
    min-width: 15px;
    text-align: right;
    margin-right: 5px;
}

#offSeasonPane {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

.offSeasonColumn {
    flex-grow: 1;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .batDiv {
        margin: 0 5px;
    }
    div {
        border: 1px solid $youth3;
    }
    .ordDiv {
        display: flex;
        padding: 0 5px;
    }
    .winDiv {
        @extend .ordDiv;
        background-color: $youth2;
    }
    .lostDiv {
        @extend .ordDiv;
        background-color: $hoverGrey;
    }
    .nameSpan {
        flex-grow: 1;
    }
    .nameRightSpan {
        @extend .nameSpan;
        text-align: right;
    }
}

.growSpan {
    flex-grow: 1;
}

.leftLine {
    @extend %baseLine;
    justify-content: start;
    text-align: start;
    display: flex;
    br {
        margin-bottom: 0;
    }
}

.navLine {
    @extend %baseLine;
    @extend %hoverLine;
    background-color: $youth2;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#contentDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid $youth3;
    overflow-y: auto;
    background-color: $youth1;
    margin-top: 0 !important;
}

#mainWrapper {
    background-color: $youth4;
    // margin-top: $middleMargin;
    display: flex;
    align-content: start;
    font-size: 12px;
    flex-direction: column;
    border: 2px solid $youth3;
    border-radius: 2px;
}

#stateDiv {
    border-bottom: 1px solid $youth3;
    padding: 1px 5px;
    display: flex;
}

#stateTitle {
    flex-grow: 1;
}

.selectLine {
    @extend %baseLine;
    padding: 0;
}

.gameSelect {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    background-color: $youth2;
    flex-grow: 1;
    margin: 0;
    cursor: pointer;
}

.fullDiv {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 400px;
    flex-grow: 1;
    z-index: 99;
}

#sideDiv {
    min-width: 100px;
}

#mainDiv::-webkit-scrollbar {
    display: none
}