br {
  margin-bottom: 20px; }

.gameLine, .titleLine, .leftLine, .navLine, .selectLine {
  min-height: fit-content;
  display: flex;
  justify-content: center;
  padding: 1px 5px;
  flex-direction: row;
  border-bottom: 1px solid #AE4E26; }

.gameLine, .navLine {
  cursor: pointer; }
  .gameLine:hover, .navLine:hover {
    background-color: #79E8D0; }

.removable br {
  margin-bottom: 0; }

.waitingPane {
  margin: auto;
  display: flex;
  justify-content: center; }

.tradePane {
  display: flex;
  flex-direction: column;
  align-content: stretch; }
  .tradePane .tradeTeamTitle {
    display: flex; }
  .tradePane select {
    margin: 10px 5px;
    flex-grow: 1;
    border: 1px solid #AE4E26; }
  .tradePane .controlLine {
    display: flex; }
  .tradePane button {
    margin: 10px 5px;
    background-color: #9BC595;
    border: 1px solid #AE4E26;
    flex-grow: 1; }
  .tradePane .tradePlayers {
    display: flex; }
  .tradePane .tradeLine {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px; }
  .tradePane .tradeColumn {
    display: flex;
    flex-direction: column; }

.playerPane .playerTitle {
  padding: 0 5px;
  color: #AE4E26; }
.playerPane .playerContent {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap; }
  .playerPane .playerContent div {
    width: 50%; }
.playerPane .controls {
  display: flex;
  justify-content: space-around; }
  .playerPane .controls button {
    margin: 10px 0;
    background-color: #9BC595;
    border: 1px solid #AE4E26; }
.playerPane .playerAttrs {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap; }
  .playerPane .playerAttrs div {
    text-align: center;
    width: calc(100%/6); }
  .playerPane .playerAttrs .statsTitle {
    font-size: 0.65rem;
    margin: 0 0 -8px 0;
    color: #AE4E26; }
  .playerPane .playerAttrs .statsContent {
    font-size: 0.8rem;
    margin: 0; }
.playerPane .playerStats {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap; }
  .playerPane .playerStats div {
    text-align: center;
    width: calc(100%/4); }
  .playerPane .playerStats .statsTitle {
    font-size: 0.65rem;
    margin: 0 0 -8px 0;
    color: #AE4E26; }
  .playerPane .playerStats .statsContent {
    font-size: 0.8rem;
    margin: 0; }
.playerPane hr {
  margin: 0;
  height: 1px;
  background-color: #AE4E26;
  background-image: none; }

.gameLine {
  background-color: #FDFFD0; }

.titleLine {
  justify-content: start;
  padding-left: 0;
  color: #AE4E26; }

.rankSpan {
  min-width: 15px;
  text-align: right;
  margin-right: 5px; }

#offSeasonPane {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  align-items: stretch; }

.offSeasonColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .offSeasonColumn .batDiv {
    margin: 0 5px; }
  .offSeasonColumn div {
    border: 1px solid #AE4E26; }
  .offSeasonColumn .ordDiv, .offSeasonColumn .winDiv, .offSeasonColumn .lostDiv {
    display: flex;
    padding: 0 5px; }
  .offSeasonColumn .winDiv {
    background-color: #9BC595; }
  .offSeasonColumn .lostDiv {
    background-color: #eee; }
  .offSeasonColumn .nameSpan, .offSeasonColumn .nameRightSpan {
    flex-grow: 1; }
  .offSeasonColumn .nameRightSpan {
    text-align: right; }

.growSpan {
  flex-grow: 1; }
  .growSpan table {
    font-size: 12px;
    line-height: 8px; }

.leftLine {
  justify-content: start;
  text-align: start;
  display: flex; }
  .leftLine br {
    margin-bottom: 0; }

.navLine {
  background-color: #9BC595;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

#contentDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #AE4E26;
  overflow-y: auto;
  background-color: #FDFFD0;
  margin-top: 0 !important; }

#mainWrapper {
  background-color: #A2CEB3;
  display: flex;
  align-content: start;
  font-size: 12px;
  flex-direction: column;
  border: 2px solid #AE4E26;
  border-radius: 2px; }

#stateDiv {
  border-bottom: 1px solid #AE4E26;
  padding: 1px 5px;
  display: flex; }

#stateTitle {
  flex-grow: 1; }

.selectLine {
  padding: 0; }

.gameSelect {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  background-color: #9BC595;
  flex-grow: 1;
  margin: 0;
  cursor: pointer; }

.roleSelect {
  border: 1px solid #AE4E26;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  background-color: #9BC595;
  margin: 10px 0;
  padding: 0.25em;
  cursor: pointer; }

.fullDiv {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw; }

#mainDiv {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 400px;
  flex-grow: 1;
  z-index: 99; }

#sideDiv {
  min-width: 100px; }

#mainDiv::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=bm.css.map */
